

<p>
    <button class="nav-link text-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"><a asp-controller="StudentInfo" asp-action="AddStudent">Add New Student Info</a> </button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Gender
            </th>
            <th>
                Date of Birth
            </th>
            <th>
                Class
            </th>
            
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Info)
        {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                    @{
                        string genderDisplay = item.Gender == 1 ? "Male" : "Female";
                    }
                    @Html.DisplayFor(modelItem => genderDisplay)
            </td>
            <td>
                 @item.DOB
            </td>
            <td>
                    @{
                        var ClassName = "";
                        foreach (var Classitem in Model.ClassDetails)
                        {
                            if(Classitem.Id == item.ClassId)
                            {
                                ClassName = Classitem.Name;
                            }
                        }
                    }
                    @Html.DisplayFor(modelItem => ClassName)
            </td>
            <td>
                <a asp-controller="StudentInfo" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a asp-controller="StudentInfo" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a asp-controller="StudentInfo" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
